#footer{
    background-color: #222222;
}
.social-links a{
    color: #ffffff;
}
.bg-mail{
    background-color: #ef697f;
    color: #ffffff;
}
.footer-border-top{
    border-top: 1px solid #2c2c2c;
}